extends ../shared/layout
block main-content
    h1 #{event.title}
    if (canJoin)
        .pull-right
            form(method="post" action="/join/#{id}")
                input(type="submit" class="btn btn-lg btn-success" value="Join")
    else
        if (canLeave)
            .pull-right
                form(method="post" action="/comment/#{id}")
                    label(for='comment') Post a comment
                    input(id="comment" class="form-control" type="text" name="comment" placeholder="Comment" required="required")
                    input(type="submit" class="btn btn-lg btn-primary" value="Post")
                form(method="post" action="/leave/#{id}")
                    input.margin-top-button(type="submit" class="btn btn-lg btn-danger" value="Leave")
                a.btn.btn-lg.btn-info.margin-top-button(href="/evaluate/#{id}") Evaluate
        else
            .pull-right
                |It seems you cannot participate in this event
    br
    p #{event.description}
    hr
    h3 Organization
    |#{event.organizationPoints} pts.
    h3 Venue
    |#{event.venuePoints} pts.
    if (event.location)
        h3 Location
        |#{event.location}
    h3 Created by
    |#{event.creatorName}
    h3 Categories
    each category in event.categories
        h5 #{category}
        br
    h3 Type
    |#{event.type}
    h3 Phone
    |#{event.phoneNumber}
    h3 Date
    |#{event.date}
    h3 Participants
    each user in event.users
        h5 #{user}
        br
    h3 Comments
    each comment in event.comments
        h5 #{comment}
        br