extends ../shared/layout
block main-content
    h3 Active events
    each event in events
        .panel.panel-default
            .panel-heading
                a(href='/event/#{event._id}') #{event.title}
            .panel-body
                |#{event.description}
                br
                p When - #{event.date}
                br
                .pull-right
                    |Venue #{event.venuePoints} pts.
                .pull-left
                    |Organization #{event.organizationPoints} pts.
    .pull-right
        a.btn.btn-primary(href="/list/#{currentPage-1}") <<
        a.btn.btn-primary(href="/list/#{currentPage+1}") >>